
body{
    padding-bottom: 1000px;
}

.image{
    height: 350px;
    width:300px;
    margin-left: 35px;
}

.desc{
    margin: 0 0 0 0;
}

.main-div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

}

.div-1{
    background-color: rgb(48, 104, 104);
    height: 400px;
}
.div-2{
    background-color: blue;
}