.profile-pic,
.content,
.follow-button
{

    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
}
.follow-button{
    margin-left: 10px;
    margin-top: 5px;
}
.pic{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-position: top;
}
.btn{
    font-family: "Roboto", sans-serif;
    font-weight:500;
    font-size: 8px;

    background-color: rgb(24, 119, 242);
    border: 0px;
    border-radius: 2.5px;
    width: 40px;

    padding-top: 2px;
    padding-bottom: 2px;

    cursor: pointer;

}
.name-field{
    font-size: 10px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
}
.photo-content{
    font-size: 10px;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 5px;
}
